

  <!-- Masthead -->
  <header class="masthead">
        <div class="row h-100 align-items-center justify-content-center text-center">
          <div class="col-lg-10 align-self-end">        
              <div class="container align-items-center justify-content-center text-center d-flex">
                <div class="container">
                  <U><h2>Profil de <%= @user.first_name  %></h2></U><br/>
                  <%= image_tag("profil.jpg", class: "figure-img rounded user") %>
                  <a href="<%=edit_user_path%>" class="btn btn-info">Editer le profil</a>
                  <a href="<%=edit_user_registration_path%>" class="btn btn-info">Editer email/password</a>
                </div>
                
                <div class="container align-left">
                  Nom complet : <%= @user.first_name  %> <%= @user.last_name  %><br><br>
                  Email : <%= @user.email  %><br><br>
                  Description : <%= @user.description  %><br> <br>
                </div>
                
              </div>    
              
          </div>
          <div class="col-lg-8 align-self-baseline">          
          </div>
        </div>
  </header>






